table{
    border-collapse: collapse;
    width: 200px;
    font-family: Arial, sans-serif;
}
th,td{
    border: 4px solid color black;
    padding: 12px;
    text-align: center;
    font-weight: bold;

}
th{
    text-decoration: underline;
}


